@{
    ViewData["Title"] = "Capital gain computation page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>In order to compute your capital gains, please import a CSV file containing your buy & sell events :</p>
        <form asp-controller="PlusValue" asp-action="Post" method="post"
              enctype="multipart/form-data">

            <input type="file" name="file" />
            <button type="submit">Compute Capital Gain</button>
        </form>
    </div>
 