@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application is here to help you calculating your capital gains according to the French Law.</p>
    <p>Have fun <a href="api/plusvalues">here</a></p>
</div>
 